body {
     background-color:blue
}

#trending_rooms {
     color: white;
}

#welcomeMessage {
     color: white;
}

#output {
     color:white ;
}
#Lets_Chat_App {
     color: white;
}